* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    223deg,
    rgba(0, 0, 0, 0.5),
    rgba(232, 211, 161, 0.6)
  );
}
header nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    223deg,
    rgba(245, 192, 91, 0.5),
    rgba(175, 194, 186, 0.6)
  );
  align-items: center;
  max-height: 90px;
  padding: 32px;
  width: 100vw;
}
header nav .logo img {
  width: 150px;
}
header nav ul li {
  list-style: none;
  margin: 2px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
li:hover:nth-child(1) {
  font-weight: 300;
  transition: all ease-in-out 1s;
  color: rgb(159, 155, 155);
  border: 2px solid rgb(159, 155, 155);
  border-radius: 4px;
  padding: 5px;
}
li:hover:nth-child(2) {
  font-weight: 300;
  transition: all ease-in-out 1s;
  color: rgb(159, 155, 155);
  border: 2px solid rgb(159, 155, 155);
  border-radius: 4px;
  padding: 5px;
}
li:hover:nth-child(4) {
  font-weight: 300;
  transition: all ease-in-out 1s;
  color: rgb(159, 155, 155);
  border: 2px solid rgb(159, 155, 155);
  border-radius: 4px;
  padding: 5px;
}
li:nth-child(3) {
  font-weight: 300;
  transition: all ease-in-out 1s;
  color: rgb(159, 155, 155);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 5px;
}

.container {
  background: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 74vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader {
  display: flex;
}
.wrapper .loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.loader .loading {
  background: linear-gradient(
    223deg,
    rgba(245, 192, 91, 0.5),
    rgba(175, 194, 186, 0.6)
  );
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
  animation: anime 0.8s ease infinite;
}
.loader .loading.one {
  animation-delay: 0.3s;
}
.loader .loading.two {
  animation-delay: 0.4s;
}
.loader .loading.three {
  animation-delay: 0.5s;
}

@keyframes anime {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}

footer nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    223deg,
    rgba(208, 153, 153, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  align-items: center;
  height: 67px;
  margin: 0;
  padding: 20px;
}
footer nav .logo_foot img {
  width: 100px;
}
footer .hero_text h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-style: italic;
}
footer .icons {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .icons a img {
  padding: 10px;
}
