* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    223deg,
    rgba(245, 192, 91, 0.5),
    rgba(175, 194, 186, 0.6)
  );
  align-items: center;
  max-height: 90px;
  padding: 32px;
}
.logo img {
  width: 150px;
}
li {
  list-style: none;
  margin: 1px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  display: flex;
}
li:hover:nth-child(2) {
  font-weight: 300;
  transition: all ease-in-out 1s;
  color: rgb(159, 155, 155);
  border: 2px solid rgb(159, 155, 155);
  border-radius: 4px;
  padding: 5px;
}
li:hover:nth-child(3) {
  font-weight: 300;
  transition: all ease-in-out 1s;
  color: rgb(159, 155, 155);
  border: 2px solid rgb(159, 155, 155);
  border-radius: 4px;
  padding: 5px;
}
li:hover:nth-child(4) {
  font-weight: 300;
  transition: all ease-in-out 1s;
  color: rgb(159, 155, 155);
  border: 2px solid rgb(159, 155, 155);
  border-radius: 4px;
  padding: 5px;
}
li:nth-child(1) {
  font-weight: 300;
  transition: all ease-in-out 1s;
  color: rgb(159, 155, 155);
  border: 2px solid rgb(159, 155, 155);
  border-radius: 4px;
  padding: 5px;
}
.container h1 {
  position: relative;
  text-align: center;
  font-size: 100px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  z-index: 1;
  margin-top: 110px;
  /* color: rgb(138, 129, 129); */
  color: wheat;
}
h1:hover {
  color: transparent;
  transition: all ease-in-out 1s;
}
.container img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 580px;
  background-color: rgb(230, 203, 148);
  border-radius: 10px;
}
.container img:hover {
  background-color: transparent;
  transition: all ease-in-out 1s;
}
.back-video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

@media only screen and (max-width: 320px) {
  nav {
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  ul {
    /* margin-left: 140px; */
    display: flex;
    flex-direction: column;
    position: fixed;
  }
  .back-video {
    width: 700px;
    overflow: hidden;
  }
  .container img {
    margin: 0;
    display: flex;
    width: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
}
